@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: #e056fd;
    --black:#090029;
    --bg-color:#14074B;
    --white:#fff;
    --light-white:rgba(255,255,255,.8);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.3);
    --border:.2rem solid rgba(255,255,255,.1);
}

body{
    font-family: "Montserrat Alternates", sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width:1rem;
}
::-webkit-scrollbar-track{
    background:transparent;
}
::-webkit-scrollbar-thumb{
    background: var(--white);
}

body{
    background: var(--black);
}

section{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.resume-btn{
    display: inline-block;
    margin-top: 1rem;
    color: var(--main-color);
    border-radius: 5rem;
    border: .2rem solid var(--main-color);
    font-size: 1.8rem;
    padding: 1rem 3rem;
    cursor: pointer;
    background: none;
    transition: .2s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.resume-btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    height: 100%;
    width: 0;
    background: var(--main-color);
    z-index: -1;
    transition: .2s linear;

}

.resume-btn:hover::before{
    width: 100%;
    left:0;
}

.header{
    position:fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .flex{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .navbar{
    margin: 0 1.5rem;
    font-size: 1.8rem;
    color: var(--light-white);
    display: flex;
    gap: 2.5rem;
}

.header .flex .navbar a{
    color:var(--main-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.header .flex .navbar a:hover {
    color: var(--white);
}

.header .flex .resume-btn{
    margin-top: 0;
}